<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="./home.ico">
	<title>貓 島</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/attach/dashboard.css" rel="stylesheet">
    {% block extracss %}
    {% endblock %}

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top ">
		<div class="container">
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand " style="color: #ccbb00;" href="#">張金朔的貓島</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
                {% block topnav %}
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">首页</a></li>
					<li><a href="/upload">上传</a></li>
					<li><a href="#contact">时间线</a></li>
				</ul>
                {% endblock %}
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar"
				style="position: fixed; bottom: 0px; left: 0px">
				{% block sidenav %}
				{% endblock %}
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
