{% extends 'base.html' %}
{% block extra-link %}
<link href="/static/attach/media.css" rel="stylesheet">
{% endblock %}

{% block global-coverage %}
<div class="media-area" id="media-area"></div>
<div class="media-desc"  id="media-desc"></div>
<div id="shadow" onclick="close_window()"></div>
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{result}}</h1>
    {% for line in content %}
    <div class="row piclist">
        <div class="col-sm-3 col-md-2 ">
            <h2><a class="page-header" href="#"></a></h2>
            <table>
                <tr>
                    {% for d in line %}
                    <td>
                        <a href="javascript:void(0);" onclick="play_media('{{d.title}}','{{ MEDIA_URL}}{{d.data}}','{{d.type}}','{{d.description}}')">
                            <div style="padding-left: 3px; padding-right: 10px;">
                                <div style="padding: 0px;box-shadow: 0 0 10px #aaa;border-radius: 6px;display:block;">
                                    {% if d.type == 'img' %}
                                        <img id="{{d.title}}-media" height=108px width=192px alt="image1"
                                             src="{{MEDIA_URL}}{{d.data}}" style="border-top-left-radius: 6px;border-top-right-radius: 6px;">
                                    {% else %}
                                        <video id="{{d.title}}-media" height=108px width=192px style="border-top-left-radius: 6px;border-top-right-radius: 6px;">
                                            <source src="{{ MEDIA_URL }}{{ d.data }}" type="video/mp4">
                                        </video>
                                    {% endif %}
                                    <h6 style="padding-bottom: 6px; padding-left: 6px; pos: center;">{{d.title}}</h6>
                                    <a href="\profile?user={{d.owner}}"><h6 style="padding-bottom: 6px; padding-left: 6px; pos: center;color:gray;">{{d.owner}}</h6></a>
                                </div>
                            </div>
                        </a>
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
    {% empty %}
    <h2>您已到达没有猫咪的荒原</h2>
    {% endfor %}
</div>
{% endblock %}